
@{
    ViewBag.Title = "Simplesearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper" style="min-height: 1317.25px;">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Search</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="@Url.Action("Simpleresult","Search")">
                        <div class="input-group">
                            <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/search-pages")

}


